.tips_content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.tip_item {
  display: flex;
  column-gap: 14px;
  align-items: flex-start;
}

.tip_index {
  display: inline-block;
  flex: 0 0 26px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: var(--gray-3);
  font-size: 17px;
  text-align: center;
  line-height: 26px;
  font-weight: 500;
  user-select: none;
}

.tips_question {
  width: 14px;
  height: 14px;
  color: var(--dark-2) !important;
}
