.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 26px;
  width: 100%;
  color: var(--dark-1);
  background-color: var(--gray-3);
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}
