.container {
  padding: 134px 0 100px 0;
}
.subContainer {
  width: 100%;
}
.section {
  padding-bottom: 16px;
}
.myOutModal {
  background-color: #262b3e !important;
}
.myModal {
  background-color: #262b3e !important;
  // .ant-modal {
  .ant-modal-content {
    background-color: #262b3e !important;
    border-radius: "var(--radius-dialog) !important";
  }
  // }
}
.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0caf60;
  border-radius: 8px;
  height: 88px;
  padding: 18px 59px 16px 59px;
}
.title {
  font-size: 28px;
  color: #11142d;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 12px;
}
.cardFlexContainer {
  background-color: var(--white);
  margin: calc(var(--spacing-console-16) / 2);
  border: 1px solid var(--gray-2);
  border-radius: var(--radius-form);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 274px;
}
.cardFlex {
  position: relative;
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
  padding: var(--spacing-console-24) var(--spacing-console-24) 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.cardFlexCompact {
  padding-bottom: 10px;
}
.cardFlexDefault {
  padding-bottom: var(--spacing-console-24);
}
.skeleton {
  margin-left: 5px;
  margin-right: 8px;
  border-radius: var(--radius-form);
  margin-top: var(--spacing-console-16);
}
.searchArea {
  // width: 100%;
  margin-bottom: calc(var(--spacing-console-16) / 2);
  display: flex;
}
.topSelectSearch {
  margin-right: var(--spacing-console-16);
  width: 15%;
  float: right;
  width: 223px;
  height: 32px;
  box-shadow: none !important;
  border-radius: var(--radius-input) !important;
  border: 1px solid var(--gray-1) !important;
  &.secondSelect {
    width: 132px;
  }
}
.menuItem {
  font-size: 14px !important;
  background-color: var(--white) !important;
  color: var(--black) !important;
  &:first-child {
    margin-top: -8px;
  }
  &:last-child {
    margin-bottom: -8px;
  }
}
.menuItem[aria-selected="true"] {
  background-color: var(--gray-2) !important;
}
.menuItem[aria-selected="true"]:hover {
  background-color: var(--gray-2) !important;
}
.menuItem:hover {
  background-color: var(--gray-2) !important;
}
.selectTxt {
  margin-left: 5px;
  color: var(--black);
  line-height: 14px;
  text-align: left;
  font-style: normal;
}

.filter {
  display: inline-flex;
  width: 460px;
  margin-left: var(--spacing-console-16);
}
.emptyState {
  margin-left: 5px;
  margin-top: var(--spacing-console-16);
}
.cardList {
  margin-bottom: var(--spacing-console-24);
  margin-left: -5px;
  display: flex;
  flex-wrap: wrap;
}
.filter {
  :global {
    .MuiPaper-root {
      margin-right: 10px;
      box-shadow: none;
      border: 1px solid var(--gray-1);
      border-radius: var(--radius-input) !important;
    }
    .ant-picker {
      height: 44px !important;
    }
    .MuiOutlinedInput-notchedOutline {
      border: none;
    }
    .MuiInputBase-root {
      font-size: 14px;
    }
    .ant-picker-outlined {
      border-color: var(--gray-1) !important;
      border-radius: var(--radius-input);
    }
    .MuiInputLabel-root {
      padding: 6px;
      top: -2px;
      // font-size: 14px;
    }
  }
}
/* @media (min-width: 600px){
  .card-flex {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
  }
} */
.startCommand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--dark-3);
  @include font-small-console;
  word-wrap: break-word;
}
.addBtn {
  background: var(--dark-1) !important;
  padding: var(--spacing-console-12) !important;
  height: 32px;
  text-transform: none !important;
  border: none !important;
  margin-left: 5px !important;
}
.addBtn:hover {
  background: var(--dark-2) !important;
}
.addBtnTxt {
  color: var(--white) !important;
  @include font-subtle;
}
.logo {
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.logoWrap {
  display: inline-block;
}
.cardMainInfo {
  display: inline-block;
  width: calc(100% - 170px);
  margin-right: var(--spacing-console-8);
}
.cardActions {
  display: flex;
  justify-content: space-between;
}
.cardActionBtn {
  margin-right: var(--spacing-console-12) !important;
}
.cardIcon {
  color: var(--black);
  font-size: 16px;
}
.name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--dark-1);
  @include font-body;
}
.id {
  color: var(--dark-3);
  @include font-small-console;
  word-wrap: break-word;
}
.image {
  color: var(--dark-3);
  @include font-small-console;
  word-wrap: break-word;
}
.creatorInfo {
  color: var(--dark-3);
  @include font-small-console;
}
.creatorPanel {
  width: 100%;
  margin-bottom: var(--spacing-console-24);
}
.creatorDivider {
  height: 1px;
  background: var(--gray-2);
  margin: 0 var(--spacing-console-24) 10px 72px;
}
.creatorInfoInset {
  padding-left: 72px;
  padding-right: var(--spacing-console-24);
}
.baseBtn {
  border: none !important;
  width: 32px !important;
  margin-right: var(--spacing-console-8) !important;
  min-width: 32px !important;
  height: 32px !important;
  min-height: 32px !important;
  border-radius: 6px !important;
  text-transform: none !important;
}
.baseBtn:hover {
  background-color: var(--gray-3) !important;
}
.pagination {
  display: flex;
  align-items: center;
  float: right;
}
.paginationInner {
  display: inline-block;
  color: var(--black);
}
.topTablePagination {
  display: inline-block !important;
  border: none;
  color: var(--black) !important;
  border-bottom: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.tablePagination {
  display: inline-block !important;
  border: none;
  color: var(--black) !important;
  border-bottom: none !important;
}

@media (min-width: 500px) {
  .cardFlexContainer {
    min-width: 380px;
  }
  .searchArea {
    // width: calc(100% - calc(var(--spacing-console-16) / 2));
    margin-bottom: calc(var(--spacing-console-16) / 2);
  }
}

@media (max-width: 500px) {
  .searchArea {
    // width: calc(100% - calc(var(--spacing-console-16) / 2));
    margin-bottom: calc(var(--spacing-console-16) / 2);
    display: grid;
  }
  .addBtn {
    width: 100% !important;
    margin-bottom: 8px !important;
    // margin-right: 5px !important;
  }
  .filter {
    width: 100% !important;
    margin-left: 5px !important;
    // margin-right: 5px !important;
  }
}

@media (min-width: 768px) {
  .cardFlexContainer {
    flex-basis: calc(50% - var(--spacing-console-16));
    flex-grow: 0;
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  .cardFlexContainer {
    flex-basis: calc(33.333% - var(--spacing-console-16));
    flex-grow: 0;
    max-width: 33.333%;
  }
}

@media (min-width: 1280px) {
  .cardFlexContainer {
    flex-basis: calc(25% - var(--spacing-console-16));
    flex-grow: 0;
    max-width: 25%;
  }
}
.desc {
  font-size: 16px;
  color: #514f6e;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
.wrap {
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 86px 0 100px 0;
  }
  .title {
    font-size: 24px;
  }
  .desc {
    font-size: 14px;
  }
  .wrap {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 520px) {
  .card_flex {
    flex-basis: calc(50% - 10px);
    /* flex-basis: 50%; */
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
    min-width: 280px;
    background-color: #fff;
    /* height: 150px; */
    margin: 5px;
  }
}

@media (min-width: 1120px) {
  .card_flex {
    flex-basis: calc(33.333% - 10px);
    /* flex-basis: 33.333%; */
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 33.3333%;
    min-width: 280px;
    background-color: #fff;
    /* height: 150px; */
    margin: 5px;
  }
}

@media (min-width: 1400px) {
  .card_flex {
    flex-basis: calc(25% - 10px);
    /* flex-basis: 25%; */
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 25%;
    min-width: 280px;
    background-color: #fff;
    /* height: 150px; */
    margin: 5px;
  }
}

.channel {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  color: var(--dark-2);
  @include font-small-console;
  padding: 0px 4px;
  border-radius: var(--radius-form) 0 var(--radius-form) 0;
  background-color: var(--gray-3);
  display: flex;
  align-items: center;
  justify-content: center;
}
