.modellist_modal {
  height: 90%;
  overflow: hidden;
}
.modellist_modal .ant-modal-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  border-radius: var(--radius-dialog) !important;
}

.modellist_modal .ant-modal-header {
  flex: 0 0 30px;
}

.modellist_modal .ant-modal-body {
  flex: 1;
  overflow: hidden;
}

.playground_img2img_upload .ant-upload-select {
  margin: 0 !important;
  width: 80px !important;
  height: 80px !important;
  transition: all linear 0.2s !important;
  border: 1px solid var(--border) !important;
  background-color: var(--white) !important;
  color: var(--dark-3) !important;
}
.playground_img2img_upload .ant-upload-select:hover {
  border-color: #fff !important;
  color: #fff !important;
}

.playground_img2img_upload .ant-upload-list-item-container {
  margin: 0 !important;
  width: 80px !important;
  height: 80px !important;
}
.playground_img2img_upload .ant-upload-list-item {
  border: none !important;
  padding: 0 !important;
}
.playground_img2img_upload .ant-upload-list-item::before {
  width: 100% !important;
  height: 100% !important;
}

.playground_img2img_upload .ant-modal-body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.playground_img2img_upload .ant-modal-body::-webkit-scrollbar-track {
  background: var(--white);
}
.playground_img2img_upload .ant-modal-body::-webkit-scrollbar-thumb {
  background: var(--dark-3);
  border-radius: 3px;
}
.playground_img2img_upload .ant-modal-body::-webkit-scrollbar-corner {
  background: var(--white);
}

.ant-upload-wrapper {
  width: 100% !important;
  flex: 1 !important;
}

.playground_form_tabs {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  min-width: 0;

  .ant-tabs-nav {
    padding: 0 16px;
    margin-bottom: 0 !important;
  }
  .ant-tabs-content {
    height: 100%;
  }
  .ant-tabs-tabpane {
    height: 100%;
  }

  [role="tablist"] {
    flex: 0 0 auto;
    padding: 0 16px;
  }

  [role="tabpanel"] {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
  }
}
