.pc_wrapper {
  // width: 100%;
  // height: 643px;
  // display: none;
  display: none;
}

.mobile_wrapper {
  // height: 383px;
  // width: 100%;
  display: block;
}

@include screen-lg {
  .mobile_wrapper {
    display: none;
  }
}

@include screen-lg {
  .pc_wrapper {
    display: block;
  }
}
