.container {
  flex: 1;
  min-height: 100%;
  background-color: var(--gray-3);

  a {
    &:hover {
      color: var(--brand-0);
    }
  }
}

.sub_page_title {
  @include font-h5;
  color: var(--dark-1);
}

.sub_page_desc {
  margin-top: 4px;
  @include font-small-console;
  color: var(--dark-1);
}
