.container {
  padding: 0 24px 24px 24px;
  background-color: var(--background-second-bg);
  border-radius: 20px;
  margin-bottom: 20px;
}

.title {
  padding: 28px 0;
  font-size: var(--font-size-3);
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 700;
}

.wrap {
  display: flex;
}

.table {
  display: table;
  width: 100%;
}

.table tbody tr {
  cursor: pointer;
}

.table tbody tr:hover td {
  background-color: #35373b;
}

.table tr th {
  background-color: rgba(53, 55, 59, 0.45);
  text-transform: uppercase;
  color: hsla(180, 7%, 97%, 0.84);
  font-weight: 600;
  padding: 12px 16px;
  font-size: 14px;
  text-align: left;
}
.table tr td {
  padding: 12px 16px;
  font-size: 14px;
  color: #f7f8f8;
  text-align: left;
  word-wrap: break-word;
  transition: all 0.3s ease;
}

.table td,
.table th {
  border-bottom: 1px solid #35373bb7;
  border-top: 1px solid #35373bb7;
}

@media screen and (max-width: 800px) {
  .table thead {
    display: none !important;
  }
  .table tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid #35373b;
    border-radius: 6px;
    padding: 12px;
  }
  .table thead th {
    display: none;
    padding: 0;
  }
  .table td,
  .table th {
    border-bottom: none;
    border-top: none;
  }
}
