.form_item {
  display: flex;
  flex-direction: column;
}

.form_label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  font-size: 14px;
  color: var(--dark1);
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 0;
}
