.tips {
  margin-top: -12px;
  margin-bottom: 16px;
  @include font-subtle;
  color: var(--dark-1);
}

.title {
  margin-bottom: 30px;
  color: var(--dark-2);
  font-size: 16px;
  font-weight: var(--font-bold);
  line-height: 100%;
  letter-spacing: var(--tracking-wide);
}

.row {
  margin-bottom: 20px;
  max-width: 1440px;

  .item_wrap {
    max-width: 700px;

    :global {
      .ant-input-outlined {
        background-color: var(--settings-input-bg-color) !important;
      }
    }
  }

  svg {
    color: var(--settings-password-icon-color);
  }

  .label {
    margin-bottom: 15px;
    color: var(--black);
    font-size: 12px;
    font-weight: var(--font-normal);
    line-height: 100%;
    letter-spacing: var(--tracking-wide);
    opacity: 0.6;
  }

  .changePassword {
    margin-left: 8px;
    height: 40px;
    width: 104px;
    min-width: 104px;
    text-align: center;
    line-height: 54px;
    // color: var(--settings-change-password-btn-color);
    // border: 1px solid var(--settings-change-password-btn-border-color);
    border-radius: 8px;
    font-size: 14px;
    font-weight: var(--font-medium);
    cursor: pointer;

    &:hover {
      opacity: 0.85;
    }
  }

  :global {
    .ant-input {
      padding: 10px 15px;
      height: 54px;
      color: var(--black);
    }

    .ant-form-item {
      margin-bottom: 0 !important;
    }

    .ant-input-password {
      height: 54px;
    }
  }
}
