.dragger_wrapper {
  margin-bottom: 20px;
}
.preview_img_wrapper {
  flex: 1;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview_img_container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.preview_img {
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  object-fit: contain;
}
.preview_img_origin {
  position: relative;
}
.preview_img_result {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.prompt_wrapper {
  flex: 0 0 40px;
  margin-bottom: 10px;
  width: 100%;
  min-width: 500px;
  display: flex;
  justify-content: center;
}
