.monthly_bill {
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .title {
      @include font-body-medium;
      color: var(--black);
    }

    .update_billing_info {
      color: var(--dark-1);
      &:hover {
        text-decoration: none;
        color: var(--brand-0);
      }
    }
  }

  .bill_table_wrapper {
    border-radius: 6px;
    border: 1px solid var(--gray-2);
    overflow: hidden;

    .bill_table {
      th,
      td {
        &:first-child {
          padding-left: 12px;
        }

        &:last-child {
          padding-right: 12px;
        }
      }
      thead {
        height: 40px;
        background-color: var(--gray-3);
      }
      tbody {
        tr:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .status_dot_upcoming,
  .status_dot_voided,
  .status_dot_payment_due,
  .status_dot_overdue,
  .status_dot_paid {
    margin-right: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .status_dot_voided {
    background-color: var(--dark-3);
  }

  .status_dot_upcoming {
    background-color: var(--cyan-2);
  }

  .status_dot_payment_due {
    background-color: var(--purple-2);
  }

  .status_dot_overdue {
    background-color: var(--red-2);
  }

  .status_dot_paid {
    background-color: var(--brand-1);
  }

  .select_trigger {
    border: 1px solid var(--gray-2);
    background-color: var(--white);

    &:hover {
      border-color: var(--brand-0);
    }
  }

  .select_label {
    @include font-subtle;
    color: var(--dark-2);
    margin-right: 8px;
  }

  .note_section {
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: var(--gray-3);
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(166, 175, 195, 0.4);

    .note_header {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .note_icon {
        width: 16px;
        height: 16px;
        color: var(--black);
        margin-right: 6px;
        flex-shrink: 0;
      }

      .note_title {
        @include font-menu-medium;
        color: var(--black);
      }
    }

    .note_list {
      margin: 0;
      padding-left: 38px;
      list-style-type: disc;

      li {
        @include font-subtle;
        color: var(--dark-1);
        margin-bottom: 4px;

        b {
          @include font-subtle-medium;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
