.bind_github {
  padding-top: 40px;

  .bg {
    position: absolute;
    display: none;
    top: 150px;
    left: 8px;
    width: 1200px;
    height: 249px;
    background-image: url("/affiliate/invite-bg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  .card {
    position: relative;
    padding: 32px;
    margin-bottom: 90px;
    background-color: var(--gray-3);
    border-radius: 24px;
    z-index: 1;

    h3 {
      @include font-h4-large;
      color: var(--dark-1);
    }

    .description {
      margin-top: 32px;
      margin-bottom: 32px;
      @include font-p;
      color: var(--dark-2);
    }

    .github_button {
      width: 200px;
      background-color: var(--brand-0);
      border: none;

      &:hover {
        background-color: var(--brand-2);
      }
    }

    .sub_account_tip {
      margin-top: 12px;
      padding: 4px 8px;
      background-color: var(--gray-3);
      border-radius: 4px;
      @include font-body;
      color: var(--dark-2);
    }
  }
}

@include screen-lg {
  .bind_github {
    .bg {
      display: block;
    }

    .card {
      max-width: 842px;
      min-width: 810px;

      h3 {
        @include font-h3;
      }

      .description {
        width: 433px;
      }
    }
  }
}
