.wrap {
  padding-bottom: 100px;
  @media screen and (max-width: 600px) {
    padding-bottom: 40px;
  }

  .model_info {
    min-width: 455px;

    @media screen and (max-width: 600px) {
      margin: 0 10px;
      min-width: 300px;
    }

    .title {
      position: relative;
      z-index: 1;
      @include font-h2;
      color: var(--dark-1);
    }

    .slogan {
      position: relative;
      margin-top: 32px;
      z-index: 1;
      @include font-p;
      color: var(--dark-2);
    }

    .tags {
      margin-top: 32px;
      gap: 10px;

      .tag {
        padding: 8px 12px;
        border-radius: 4px;
        @include font-subtle;
        color: var(--black);

        &:nth-child(1) {
          background-color: var(--brand-2);
        }
        &:nth-child(2) {
          background-color: var(--red-6);
        }
        &:nth-child(3) {
          background-color: var(--purple-6);
        }
        &:nth-child(4) {
          background-color: var(--cyan-5);
        }
      }
    }

    .info_list {
      margin-top: 28px;
      row-gap: 10px;
      column-gap: 30px;
      @include font-body;
      color: var(--dark-2);

      & > span {
        display: inline-block;
        & > label {
          margin-right: 4px;
        }
      }

      .link {
        cursor: pointer;
        &:hover {
          color: var(--black);
        }

        .link_text {
          margin-right: 3px;
          text-decoration: underline;
        }
      }
    }
  }

  .gpu_info {
    position: relative;
    margin-top: 25px;
    margin-left: 90px;
    min-width: 455px;

    @media screen and (max-width: 750px) {
      margin: 32px 10px 0;
      min-width: 300px;

      .deploy_box {
        margin: 32px 0 12px;
      }
    }

    .card {
      padding: 32px 20px;
      width: calc(100% - 37px);
      border-radius: 12px;
      background: var(--black);
      backdrop-filter: blur(10px);

      .tips {
        color: var(--white);
        @include font-p;
        opacity: 0.7;
      }

      .gpu_name {
        margin: 10px 0 20px;
        height: 27px;
        color: var(--white);
        @include font-h4;
      }

      .price_tips {
        @include font-h6;
        color: var(--white);
        opacity: 0.7;
      }

      .price {
        margin-left: 12px;
        color: var(--brand-0);
        @include font-h5;
      }
    }

    .gpu_card_reflection {
      height: 54px;
      width: calc(100% - 37px);
      pointer-events: none;
    }

    .gpu_hot {
      position: absolute;
      top: 20px;
      right: 0;
      pointer-events: none;
    }
  }
}

.float_deploy_box {
  position: fixed;
  bottom: 100px;
  right: 12px;
  z-index: 10;
}
