.panel_body {
  height: 100%;
  overflow-y: hidden;
}

.form_wrapper {
  padding: 18px 16px 0 16px;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;

  .panel_box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
    overflow-x: visible;
    margin-bottom: 18px;

    .form_title {
      display: flex;
      column-gap: 10px;
      align-items: center;
      font-size: 14px;
      color: var(--dark1);
      letter-spacing: 0;
      line-height: 14px;
      margin-bottom: 12px;

      .sd3_label {
        font-weight: bold;
        background: linear-gradient(
          to right,
          rgb(53, 93, 255) 0%,
          rgb(221, 54, 255) 50%,
          rgb(255, 86, 247) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    .try_example {
      position: absolute;
      padding: 0 10px;
      top: -5px;
      right: 0;
      height: 24px;
      font-size: 12px;
      color: var(--brand-0);
    }
  }
}

.result {
  flex: 1;
  position: relative;
  height: 100%;
  min-height: 0;
  box-sizing: border-box;
  padding: 50px 20px;
  overflow: auto;

  .preview_img_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1000px;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }
}
