.calc_modal_content {
  padding-bottom: 12px;

  & > div {
    width: 100%;
  }

  .item_label {
    margin: 16px 0 8px;
    color: var(--dark5);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }

  .price {
    margin-top: 24px;
    text-align: right;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
  }
}
