.price_card {
  margin: 16px 0;
  padding: 8px 24px 24px;
  background-color: var(--white);
  border-radius: 8px;
}

.title {
  @include font-h4;
  color: var(--dark-1);
  margin: 0;
}

.console_title {
  @include font-h4;
  text-align: left;
}

.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

.table_wrap {
  thead tr th {
    padding-top: 14px;
    padding-bottom: 8px;
    white-space: nowrap;
    background-color: var(--gray-3);
  }

  tbody tr {
    &:hover {
      background-color: transparent;
    }
  }

  .table_cell_hover {
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--gray-3);
    }
  }

  td {
    max-width: 510px;
  }
}
