.modal_content {
  padding: 0;

  & > button {
    top: 14px;
  }

  .title {
    padding-top: 12px;
    padding-left: 24px;
    @include font-h6;
    color: var(--black);
  }

  .content {
    padding: 12px 24px;
    border-top: 1px solid var(--gray-2);

    .description {
      @include font-subtle;
      color: var(--dark-1);
    }
  }

  .highlight {
    margin-right: 12px;
    @include font-subtle-medium;
    color: var(--brand-0);
  }
}
