.modal_content {
  padding: 0;

  .title {
    padding-top: 24px;
    padding-left: 24px;
    @include font-h6;
    color: var(--black);
  }

  form {
    padding: 24px;
    border-top: 1px solid var(--gray-2);
  }

  .tips {
    margin-bottom: 12px;
    @include font-subtle;
    color: var(--dark-1);

    a {
      margin-left: 4px;
      text-decoration: underline;
    }
  }

  .subtitle {
    margin-bottom: 16px;
    @include font-small-console-medium;
    color: var(--black);
  }

  .required {
    margin-right: 2px;
    color: var(--red-1);
  }

  .form_message {
    @include font-small-console;
    color: var(--red-2);
  }

  .placeholder {
    color: var(--dark-3);
  }
}

@include screen-lg {
  .modal_content {
    width: 520px;
    min-width: 520px;
  }
}
