.page_wrap {
  padding-top: 90px;
  padding-bottom: 90px;
}

.item {
  @include infoCard;
  width: 320px;
  height: 120px;
  flex: 0 0 320px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  cursor: pointer;
}

.item .content {
  flex: 1;
}

.item .play_btn {
  width: 44px;
  height: 44px;
  flex: 0 0 44px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  background-color: var(--brand-2);
}

.item .img > img {
  width: 18px;
  height: 18px;
  z-index: 2;
}
