.stateContainer {
  border: 1px solid rgba(88, 86, 214, 1);
  height: 30px;
  text-align: center;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stateTextContainer {
  font-size: 12px;
  color: var(--brand-0);
  line-height: 12px;
  font-weight: 400;
}
.stateText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0 8px;
  @include font-small-console;
}
.stateDot {
  height: 13px;
  width: 13px;
  border: 3px solid;
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stateDotInner {
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
.stateContainer {
  border: 1px solid var(--brand-0);
  height: 30px;
  text-align: center;
  border-radius: var(--radius-button);
  display: flex;
  align-items: center;
  justify-content: center;
}
.stateTextContainer {
  font-size: 12px;
  color: var(--brand-0);
  line-height: 12px;
  font-weight: 400;
}
