.button {
  padding: 5px 14px;
  background-color: #47415e;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border-radius: 32px;

  &:hover {
    opacity: 0.95;
  }
}

.right {
  position: absolute;
  left: 30px;
  top: 10px;
}

.shareLinkModal {
  .content {
    padding: 24px 0 12px;

    .linkBox {
      display: flex;
      padding: 14px 18px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: var(--gray-3);
      border-radius: 8px;
    }

    .linkText {
      max-width: calc(100% - 75px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    p {
      margin-top: 24px;
      color: var(--dark-3);
      text-align: right;
    }

    span {
      display: inline-block;
    }
  }
}
