.dragger_wrap {
  position: relative;
  width: 220px;
  min-height: 200px;
  background-color: var(--gray-3);
  border: 1px dashed var(--border);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  transition:
    border-color 0.2s,
    background-color 0.2s;

  .dragger_icon > span {
    font-size: 48px;
    color: var(--dark-1);
  }
}
.dragger_wrap:not(.disabled):hover {
  background-color: var(--white);
  border-color: var(--dark-3);
}
.dragger_wrap.disabled {
  cursor: not-allowed;
  color: var(--muted-foreground);
  background-color: var(--gray-3);
}

.src_img_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.src_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}
.src_video {
  max-height: 100%;
  max-width: 100%;
  // object-fit: cover;
  z-index: 1;
  flex: 1;
}
.src_img_mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  opacity: 1;
  z-index: 2;
  transition: opacity 0.2s;
}

.dragger_icon {
  font-size: 48px;
  color: var(--dark-1);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragger_desc {
  color: var(--dark-1);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}
.dragger_wrap.disabled .dragger_desc {
  color: var(--muted-foreground);
}
.dragger_instructions {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color: var(--dark-1);
}

.dragger_inner {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  text-align: center;
  user-select: none;
  opacity: 1;
  transition: opacity 0.2s;
}

.dragger_wrap.has_img {
  background: transparent;
  border: 1px solid var(--border);

  .src_img_mask {
    opacity: 0;
  }
  .dragger_inner {
    opacity: 0;
  }
}
.dragger_wrap.has_img.not_uploading:hover {
  .src_img_mask {
    opacity: 0.7;
  }
  .dragger_inner {
    opacity: 1;
  }
}

.dragger_loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
