.field {
  margin-top: 29px;
  line-height: 55px;
}
.newPasswordField {
  margin-top: 20px;
  line-height: 62px;
}
.label {
  margin-bottom: 12px;
  color: var(--dark-1);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}
.passwordInput {
  width: 100%;
  border-radius: 8px;
  background: var(--white);
  color: var(--dark-1);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
}
.passwordTip {
  margin-bottom: 32px;
  color: rgba(128, 129, 145, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.actions {
  height: 56px;
  line-height: 55px;
}
.buttonText {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  text-transform: none;
}
.updateBtnText {
  color: var(--dark-1);
}
.cancelBtnText {
  color: var(--white);
}
.updateBtn {
  background: rgba(217, 219, 233, 0.2) !important;
  float: right !important;
  border-radius: 8px !important;
  border: 1px solid #11142d !important;
  width: calc(50% - 12px) !important;
  padding: 14px 12px !important;
  height: 42px !important;
  text-transform: none !important;
}
.cancelBtn {
  background: #11142d !important;
  float: right !important;
  // margin-right: 16px !important;
  border-radius: 8px !important;
  width: calc(50% - 12px) !important;
  margin-right: 24px !important;
  height: 42px !important;
  text-transform: none !important;
}

@include screen-lg {
  .updateBtn {
    background: rgba(217, 219, 233, 0.2) !important;
    float: right !important;
    border-radius: 8px !important;
    border: 1px solid #11142d !important;
    width: 160px !important;
    padding: 14px 12px !important;
    height: 42px !important;
    text-transform: none !important;
  }
  .cancelBtn {
    background: #11142d !important;
    float: right !important;
    margin-right: 16px !important;
    border-radius: 8px !important;
    width: 148px !important;
    height: 42px !important;
    text-transform: none !important;
  }
}
