.input {
  width: 100%;
  max-width: 540px;
  background: var(--white);
  color: var(--dark-2);
  outline: none;
  border-radius: 4px;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}

.prompt_input {
  height: 40px;
  line-height: 24px;
  padding: 8px;
  resize: none;
  border: 1px solid var(--border);
  transition: linear 200ms border-color;
  background-color: var(--white);
}
.prompt_input:hover {
  border-color: var(--black);
}
.prompt_input:focus {
  border-color: var(--black);
}
.prompt_input_disabled {
  cursor: not-allowed;
  color: var(--muted-foreground);
  background-color: rgba(255, 255, 255, 0.05);
}
.prompt_input_disabled:hover {
  border-color: var(--border);
}

.prompt_input_large {
  height: 56px;
  padding: 16px;
  border-radius: 8px;
}
