.card_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 56px;
}

.card_item {
  @include infoCard;

  .tag {
    display: inline-block;
    padding: 4px 8px;
    background-color: var(--gray-3);
    border-radius: 4px;
    border: 1px solid var(--gray-2);
    color: var(--dark-2);
    font-size: 14px;
    line-height: 20px;
  }
}
