.page_wrap {
  height: 252px;
  background: var(--gray-3);
}

.lang_item {
  width: 200px;
  height: 78px;
  padding: 0 24px;
  background: var(--white);
  border: 1px solid var(--dark-1);
  border-radius: var(--large-radius);
}
