.code {
  height: 100%;
  width: 590px;
}

.header {
  width: 100%;
  background: transparent;
  justify-content: flex-start;
  border-bottom: 1px solid var(--gray-2);
  height: auto;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

.code_wrapper {
  border-radius: var(--large-radius);
}

.code *::-webkit-scrollbar,
.code *::-webkit-scrollbar-corner {
  background: transparent;
  height: 12px;
  width: 12px;
}
.code *::-webkit-scrollbar-thumb {
  background: content-box rgba(255, 255, 255, 0.4);
  border: 2px solid transparent;
  border-radius: 8px;
  color: #0e0c14;
  min-height: 48px;
  min-width: 48px;
}
