.outContainer {
  position: relative;
  background-color: var(--black);
  background-image: url("/gpus/v5/gpu-pricing/right-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
}
.container {
  position: relative;
  // height: 759px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 92px;
  padding-bottom: 158px;
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 632px;
    .topInner {
      text-align: center;
      color: var(--gray-3);
      @include font-h3;
    }
    .bottomInner {
      text-align: center;
      color: var(--gray-3);
      @include font-body;
    }
    margin-bottom: 85px;
  }
  .bottom {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    width: 100%;
    .subContainer {
      display: inline-flex;
      align-items: stretch;
      justify-content: center;
      gap: 6px;
    }
  }
}
.webContainer {
  display: none !important;
  @include screen-sm {
    display: flex !important;
  }
}
.mobileContainer {
  display: flex !important;
  @include screen-sm {
    display: none !important;
  }
}
.leftTopVector {
  position: absolute;
  top: 0;
  left: 0;
}
.rightBottomVector {
  position: absolute;
  right: 0;
  bottom: 0;
}
.swiper_wrap {
  max-width: 100%;
  --swiper-pagination-color: var(--brand-0);
}
.slide {
  max-width: 260px !important;
  min-width: 260px !important;
}
